* {
    box-sizing: border-box;
}

body {
    width: 700px;
    background-color: black;
    margin: auto;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    font-family:'Courier New', Courier, monospace;
    position: relative;
    min-height: 100vh;
    display: grid;
    align-content: space-between;
}

header {
    position:sticky;
    top: 0;
}

nav {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: blue;
}

nav button {
    box-sizing: border-box;
    padding: 10px;
    width: 150px;
    background-color: transparent;
    border: 1px solid black;
    border-bottom: 0px;
    color: white;
    cursor: pointer;
}

#content {
    width: 100%;
    display: grid;
    justify-items: center;
    color: white;
    padding: 20px;
    gap: 20px;
}

::selection {
    background-color: blue;
    color: white;
}

img {
    border: 1px solid blue;
}

img.home {
    width: 80%;
}

p:last-of-type {
    border: 1px solid blue;
    padding: 15px;
}

img.menu {
    width: 300px;
}

span {
    width: 100%;
    background-color: blue;
    height: 1px;
}

input,
textarea {
    background-color: transparent;
    border: 1px solid blue;
    padding: 5px;
    font-size: 15px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: blue;
    resize: none;
}

legend {
    font-size: 25px;
}

fieldset button {
    display: block;
    color: white;
    width: 100px;
    background-color: transparent;
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 25px;
    margin-bottom: 10px;
}

fieldset button:hover { 
    background-color: blue;
    color: black;
    cursor: pointer;
}


footer {
    width: 100%;
    background-color: blue;
    padding: 5px;
    font-size: 15px;
    color: white;
    text-align: center;
}